.container {
    width: 1100px;
    margin: 0 auto;
}

.toolbar {
    padding: 16px 0;
}

.project-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

.project-list-col {
    width: 32%;
}

.project-list-col img {
    width: 100%;
    margin-bottom: 16px;
}

.btn-filter {
    background-color: #fff;
    border: 1px solid #444;
    color: #444;
    margin-right: 12px;
    padding: 8px 12px;
}

.active {
    color: #fff;
    background-color: #444;
}


